<?xml version="1.0"?>
<config>
  <modules>
    <MR_Customermodule>
      <version>0.1.0</version>
    </MR_Customermodule>
  </modules>
  <frontend>
    <routers>
      <customermodule>
        <use>standard</use>
          <args>
            <module>MR_Customermodule</module>
            <frontName>customermodule</frontName>
          </args>
      </customermodule>
      <customer>
           <args>
               <modules>
                   <!-- Before going to Customer controller we are going to our module first-->
                   <MR_Customermodule before="Mage_Customer">MR_Customermodule</MR_Customermodule>
               </modules>
           </args>
       </customer>
    </routers>
  </frontend>
  <global>
    <helpers>
      <customermodule>
        <class>MR_Customermodule_Helper</class>
      </customermodule>
        <customer>
			<rewrite>
				<address>MR_Customermodule_Helper_Customer_Address</address>
            </rewrite>
        </customer>
    </helpers>
	<blocks>
	  <customermodule>
		<class>MR_Customermodule_Block</class>
	  </customermodule>
			<customer>
				<rewrite>
					<form_register>MR_Customermodule_Block_Customer_Form_Register</form_register>
				</rewrite>
			</customer>
	</blocks>
	<models>
	  <customermodule>
		<class>MR_Customermodule_Model</class>
		<resourceModel>customermodule_mysql4</resourceModel>
	  </customermodule>
			<customer>
				<rewrite>
					<customer>MR_Customermodule_Model_Customer_Customer</customer>
				</rewrite>
			</customer>
	</models>
  </global>
  <admin>
	<routers>
	  <customermodule>
	    <use>admin</use>
		<args>
		  <module>MR_Customermodule</module>
		  <frontName>admin_customermodule</frontName>
		</args>
	  </customermodule>
	</routers>
  </admin>
</config> 